.slider {
    overflow: hidden;
    margin: 10px 0;
}
.slider_use .slider_range{
    background-color: #ccc;
    cursor: pointer;
}
.slider_use .slider_fill {
    opacity: 1;
}
.slider_use .slider_title {
    color: #000;
}
.slider_title {
    float: left;
    display: inline-block;
    margin-right: 5px;
    color: #888;
}
.slider_title input {
    margin: 0 3px;
}
.slider_title label {
    display: inline-block;
    line-height: 20px;
}
.slider_range {
    position: relative;
    float: left;
    margin: 10px 0;
    width: 238px;
    height: 3px;
    background-color: #f5f5f5;
}
.slider_fill {
    width: 8px;
    height: 3px;
    background-color: #f00;
    opacity: 0.3;
}
.slider_handle {
    position: absolute;
    top: -8px;
    left: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.slider_result {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 13px;
    color: #888;
    border: 1px solid #ddd;
    outline: none;
}
.slider_result_use {

}