.slider {
    overflow: hidden;
    margin: 10px 0;
}
.slider_range {
    position: relative;
    float: left;
    margin: 10px 0;
    width: 50%;
    height: 3px;
    background-color: #f5f5f5;
    cursor: pointer;
}
.slider_fill {
    width: 8px;
    height: 3px;
    background-color: #f00;
    opacity: 1;
}
.slider_handle {
    position: absolute;
    top: -8px;
    left: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.slider_result {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 13px;
    color: #888;
    border: 1px solid #ddd;
    outline: none;
}